.not-found {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  
}
.top{
  margin-top: 30px;
  display:inline-flex;
  width: 100%;
  position: relative;
}
#addUser{
  position: absolute;
  right: 0;
}
.detail{
  display: block;
  margin: 0px auto;
 
}
.updateUser{
  
  display: block;
  margin: 0px auto;
  
  position: relative;
}
.updatebtn{
  position: absolute;
  right: 0;
  margin-top: 10px;
  
}